@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 8px !important;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #8b8a8a);
  border-radius: 20px;
}

#scrollbar::-webkit-scrollbar {
  display: none;
}

.backgrounddark {
  background-color: rgb(55 65 81/1);
}

.background {
  background-color: rgb(255, 255, 255);
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar2::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

/* Track */
.scrollbar2dark::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #888;
}

/* Handle */
.scrollbar2dark::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Track */
.scrollbar2::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
}

/* Handle */
.scrollbar2::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.active {
  color: #8c7155;
}

.active path {
  fill: #8c7155;
}
.activehome {
  color: #8c7155;
}
.activehome path {
  stroke: #8c7155;
}
.active2 {
  color: #8c7155;
}

.hide12 {
  animation: bgop 0.7s linear forwards;
}

@keyframes bgop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.4;
  }
}

.hidere {
  animation: bgopre 0.5s linear forwards;
}

@keyframes bgopre {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
  }
}

.show12 {
  animation: tranlslate 0.7s linear forwards;
}

@keyframes tranlslate {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.showre {
  animation: tranlslatere 0.7s linear forwards;
}

@keyframes tranlslatere {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    transform: translateY(20%);
    opacity: 0;
  }
}
